.start-page {
  background: lightgreen;
  top: 30%;
}

.center-items {
  display: flex;
  justify-items: center;
  width: 100%;
}

.food-quiz {
  display: flex;
  justify-items: center;
  background-color: lightblue;
}

.dis-none {
  display: none;
}